
body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    color: #fff
}

.color {
    color:#fff;
}

.quienes-somos {
    margin-right: 8%;

}

.iconos {
    background-color: #07caf0;
    padding-left: 50%;
    padding-right: 45%;
    font-size: 1.5rem;

}

.card-body {
    background-color: #07caf0;
}

.mensaje {
    padding-bottom: 15%;
}

.btn {
    background-color: #07caf0;
}

footer {
    background-color: #07caf0;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

